.pagination
{
    position: relative;
    width: 20px;
    bottom: 2000px;
    left: 995px;
}

.pagination__point
{
    background-color: white;
    margin-top: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

