.sectionThird
{
    position: absolute;
    width: 1024px;
    height: 768px;
}

.sectionThirdInner
{
    position: absolute;
    display: flex;
    right: -2048px;
    width: 3072px;
    height: 768px;
    transition: .5s;
}

.sectionThird1
{
    width: 1024px;
    height: 768px;
    background-image:  url('../img/section_1/bg.png'), url('../img/bg_3.png');
    background-size: 55%, cover;
    background-position: right 50% top 45%;
    background-repeat: no-repeat;
}

.sectionThird1::before
{
    position: absolute;
    display: block;
    content: '';
    width: 1024px;
    height: 768px;
    background-image: url('../img/ice_1.png'),  url('../img/ice_3.png'), url('../img/ice_2.png') ;
    background-position: right 97% top 99%,  right 27% top 32%,  right 8% top 15%;
    background-size: 22%, 11%, 4%, cover;
    background-repeat: no-repeat;
    opacity: .4;
}

.sectionThird1__title
{
    margin: 112px 10px 0;
    font-size: 29px;
    letter-spacing: .2px;
    display: inline-block;
    padding: 0 70px;
    font-family: 'Gotham Pro',sans-serif;
    font-weight: 400;
    color: #fff;
}

.sectionThird2
{
    width: 1024px;
    height: 768px;
    background-image:  url('../img/section_2/bg.png'), url('../img/bg_3.png');
    background-size: 73%, cover;
    background-position: right 40% top 52%;
    background-repeat: no-repeat;
}

.sectionThird2::before
{
    position: absolute;
    display: block;
    content: '';
    width: 1024px;
    height: 768px;
    background-image: url('../img/ice_1.png'),  url('../img/ice_3.png'), url('../img/ice_2.png') ;
    background-position: right -11% top 102%,  right 95% top 35%,  right 52% top 13%;
    background-size: 21%, 10%, 3.5%, cover;
    background-repeat: no-repeat;
    opacity: .4;
}

.sectionThird3
{
    width: 1024px;
    height: 768px;
    background-image:  url('../img/section_3/bg.png'), url('../img/bg_3.png');
    background-size: 90%, cover;
    background-position: right 50% top 50%;
    background-repeat: no-repeat;
}

.sectionThird3::before
{
    position: absolute;
    display: block;
    content: '';
    width: 1024px;
    height: 768px;
    background-image: url('../img/ice_4.png'),  url('../img/ice_3.png'), url('../img/ice_2.png') ;
    background-position: right 83% top 100%,  right -2% top 32%,  right 100.5% top 15%;
    background-size: 18%, 10.5%, 3.5%, cover;
    background-repeat: no-repeat;
    opacity: .4;
}